* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background: black;
    /* padding-top: 80px !important; */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    width: auto;
    /* background: linear-gradient(90deg, #1a237e, #0d47a1); */
    /* background: #410055; */
    background: rgb(255, 255, 255) !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    width: 150px;
    height: auto;
    border: none;
}

.logo img {
    flex: 0 0 auto;
    width: 150px;
    height: 45px;
    border: none;

}

.navlinks {
    flex: 0 1 auto;
    margin-left: 5rem;
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.navlinks li {
    display: flex;
    align-items: center;
}

.navlinks a {
    text-decoration: none;
    color: #333;
    font-weight: 550 !important;
    font-size: 1.1rem;
    margin: 0;
    transition: color 0.3 ease;
}

.navlinks a:hover {
    color: #2b64ff;
}

.navlinks a.active,
.navlinks a:focus {
    color: #2b64ff;
}

.navlinks a.active:hover {
    color: #2b64ff
}

/* Button styles */
.buttons {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 1rem;
    white-space: nowrap;
    flex-wrap: nowrap;
    flex: 0 0 auto;
}

.login,
.signup {
    align-items: center;
    padding: 0.8rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 0.3s ease;
    transform: scale(1);
}

.login {
    background: transparent;
    border: 2px solid #333;
    color: #333;
}

.signup {
    background: #2b83ff;
    border: 2px solid #2b83ff;
    color: #f5f5f5;
    margin-left: 1rem;
}

.login:hover,
.signup:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.login:active,
.signup-active {
    transform: scale(0.98);
    transition: transform 0.15s ease;
}

.signup:hover {
    /* background: #ffc107; */
    background: #f5f5f5;
    border: 2px solid #2b83ff !important;
    color: #6183EF;
}

.hamburger{
    display: none;
}


