@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


.login-all-container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 500px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 13px;
    overflow: hidden;
    margin-top: 30px;
}

.login-container{
    width: 50%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot {
    text-decoration: none;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.log-button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.log-button:hover {
    background-color: #333;
}

.overlay-container {
    width: 50%;
    background-color: #00204a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.overlay-container button {
    background-color: transparent;
    border: 1px solid white;
}
