
.resetpassmodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 9999;
}

.resetpassmodal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    height: 80px;
    max-width: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dots .dot {
    opacity: 0;
    animation: blink 1.4s infinite both;
}

.dots .dot:nth-child(1) {
    animation-delay: 0s;
}

.dots .dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dots .dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {

    0%,
    80%,
    100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}