.content-section#content-upcomingrides{
  /* text-align: center; */
  background-color: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  padding: 25px;
  /* max-width: 1000px; */
  margin: 0 auto;
  margin-top: 30px;
  color: #ffffff;
}

.content-section#content-upcomingrides h2 {
  color: #2b83ff;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 2px solid #333333;
  padding-bottom: 10px;
}

.rides-container{
  width: 100%;
  overflow-x: auto;
}

.rides-container::-webkit-scrollbar{
  overflow: hidden;
}

#upcomingRides {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  border: none;
}

#upcomingRides th,
#upcomingRides td {
  border: none;
  padding: 15px;
  text-align: center;
}

#upcomingRides th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

#upcomingRides td {
  background-color: #1e1e1e;
  color: white;
}

#upcomingRides a{
  width: 150px;
  height: 30px;
  color: white;
  background-color: rgb(29, 204, 29);
}

@media screen and (max-width: 1220px) {
  #upcomingRides th,
  #upcomingRides td {
    padding: 14px;
    font-size: 1.2rem;
  }
  #upcomingRides a {
    width: 140px;
    height: 28px;
    line-height: 28px;
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 1200px) {
  #upcomingRides th,
  #upcomingRides td {
    padding: 13px;
    font-size: 1.15rem;
  }
  #upcomingRides a {
    width: 130px;
    height: 26px;
    line-height: 26px;
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 992px) {
  #upcomingRides th,
  #upcomingRides td {
    padding: 12px;
    font-size: 1rem;
  }
  #upcomingRides a {
    width: 120px;
    height: 24px;
    line-height: 24px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .content-section#upcoming-rides h2 {
    font-size: 1.5rem;
    margin-bottom: 14px;
}
  #upcomingRides th,
  #upcomingRides td {
    padding: 10px;
    font-size: 0.95rem;
  }
  #upcomingRides a {
    width: 110px;
    height: 22px;
    line-height: 22px;
    font-size: 0.85rem;
  }
}



