.dashboard-container{
    margin-left: 16rem;
}

.welcome{
    margin-top: 30px;
}

.welcome h1{
    color: #2b83ff;
    font-size: 25px;
}

.welcome h3{
    margin-top: 5px;
    color: rgb(101, 103, 103);
    font-size: 13px;
}

.first-row-container{
    margin-top: 1.6rem;
    display: flex;
    column-gap: 15px;
}

.second-row-item{
    height: 420px;
    width: 640px;
    background-color:#333333;
    border-radius: 16px;
}
.first-row-item{
    height: 220px;
    width: 280px;
    background-color:#333333;
    border-radius: 16px;
}

@media (max-width: 768px) {
    .dashboard-container {
        margin-left: 5rem;
    }
    
}
