.driver-list-container{
    margin-left: 16rem;
    margin-right: 2.5rem;
    margin-top: 30px;
}

.driver-list-title h2{
    font-size: 25px;
    color: #2b83ff;
    margin-bottom: 10px;
}

.driver-list-title h4{
    color: rgb(101, 103, 103);
}
.table-container{
    margin-top: 30px;
}

table{
    width: 100%;
    color: white;
    border-collapse: collapse;
    text-align: left;
    border-radius: 16px;
    overflow: hidden;
}

th{
    font-size: 18px;
    text-align: center;
    background-color:  #2b83ff;
    color: white;
    font-weight: bold;
    padding: 12px 15px;
    border-bottom: 2px solid #333333;
}

td{
    padding: 12px 15px;
    border-bottom: 1px solid #333333;
    vertical-align: middle;
    text-align: center;
    background-color: #252525;
}

table a {
    display: inline-block;
    padding: 6px 12px;
    background-color: #2b83ff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    transition: all 0.3s ease;
}

table a:hover {
    background-color: #1a6dd9;
}

@media screen and (max-width: 768px) {
    .driver.table {
        display: block;
        overflow-x: auto;
    }

    .table a{
        padding: 3px 6px;
    }
    
    .driver-list-container {
        width: 100%;
        margin-left: 5rem;
    }
}