*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navigation-user{
    margin-top: 6px;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.tabs{
    background: rgb(216, 216, 216);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 5rem;
    padding: 10px;
    display: flex;
    position: relative;
}

input[type="radio"]{
    display: none;
}

label{
    display: block;
    height: 30px;
    width: 370px;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.glider{
    position: absolute;
    top: 5px;
    left: 10px;
    background: #2b83ff;
    width: 370px;
    height: 40px;
    border-radius: 2rem;
    transition: ease .3s;
}

#tab1:checked ~ label[for="tab1"]{
    color: white;
}
#tab2:checked ~ label[for="tab2"]{
    color: white;
}
#tab3:checked ~ label[for="tab3"]{
    color: white;
}
#tab4:checked ~ label[for="tab4"]{
    color: white;
}

#tab1:checked ~ .glider{
    transform: translateX(0px);
}
#tab2:checked ~ .glider{
    transform: translateX(365px);
}
#tab3:checked ~ .glider{
    transform: translateX(740px);
}
#tab4:checked ~ .glider{
    transform: translateX(1100px);
}

@media (max-width) {
     ;
}
